<!doctype html >
<html>
<head>
<script>var version={v:"1.3.0",date:"2017-07-10"}</script>
<title>LookML Builder</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css" integrity="sha256-NTds7atVCDeolLUzbcl45lx4gJYO+hNXCaX1wC2HQHc=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/json-editor/0.7.28/jsoneditor.min.js" integrity="sha256-51+oMmpgSgS4jV5/DcGKnDHIOL6Jeie2i7ka6sPQVro=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dot/1.1.0/doT.min.js" integrity="sha256-0DJpUBhIByZ5Tm5u/xEvcRalEiuyadItx381FmBKHB4=" crossorigin="anonymous"></script>
<script src="https://cdn.rawgit.com/Nanonid/rison/e64af6c096fd30950ec32cfd48526ca6ee21649d/js/rison.js" integrity="sha256-4Zg2e0UX/I8JAIl4CQgnB/A15bw2jxjLCu/mjQRGoRI=" crossorigin="anonymous"></script>
<style>
 textarea{font-size:10pt !important;}
 .out {width:100%;height:20em;}
 dl.tabs.vertical>dd{overflow: hidden; text-overflow: ellipsis;max-height:4em;}
 dl.tabs.vertical>dd>a{padding:0.5rem 0.25rem;white-space: pre-line;}
 .tabs-content>div>h3{overflow: hidden; text-overflow: ellipsis;max-height:4em;white-space: pre-line;}
 #json-editor input+p{display:none}
 #json-editor input:focus+p{display:block}
 #json-editor textarea+p{display:none}
 #json-editor textarea:focus+p{display:block}
 #json-editor select+p{display:none}
 #json-editor select:focus+p{display:block}
</style>
<script>
	// Set the JSONEditor CSS theme and icon library globally
	JSONEditor.defaults.theme = 'foundation5';
	JSONEditor.defaults.iconlib = 'fontawesome4';
	$(document).ready(()=>{
			$("#version").text("v"+version.v+" ("+version.date+")")
			var editorDef= {
					schema: inputSchema,
					startval:  tryRisonParse(qs("o"))
							|| tryJSONParse(qs("o"))
							|| tryJSONParse(localStorage.getItem(storageKey))
							|| initialValue,
					"required_by_default":true,
					//"disable_collapse":true,
					"disable_properties":true,
					"display_required_only":true,
					"keep_oneof_values":true,
					"disable_edit_json":true
				}
			document.location.hash="#";
			var editor = new JSONEditor($("#json-editor")[0],editorDef)
			editor.on('change',function() {
					localStorage.setItem(storageKey,JSON.stringify(editor.getValue()))
					$("#msg").hide()
				});

				doT.templateSettings = {
						evaluate:    /\<\<\!([\s\S]+?)\>\>/g,
						interpolate: /\<\<\:([\s\S]+?)\>\>/g,
						encode:      /\<\<&([\s\S]+?)\>\>/g,
						use:         /\<\<#([\s\S]+?)\>\>/g,
						define:      /\<\<##\s*([\w\.$]+)\s*(\:|=)([\s\S]+?)#\>\>/g,
						conditional: /\<\<\?(\?)?\s*([\s\S]*?)\s*\>\>/g,
						iterate:     /\<\<\*\s*(?:\>\>|([\s\S]+?)\s*\:\s*([\w$]+)\s*(?:\:\s*([\w$]+))?\s*\>\>)/g,
						varname: 'x',
						strip: false,
						append: true,
						selfcontained: false
					};
			var templates={}
			$("script[type='text/x-dot-template']").each(function(i,el){
					var t=this.dataset;
					//templates[t.name]=nunjucks.compile($(this).text(),env)
					templates[t.name]=doT.template($(this).text())
					$("#out").append("<h2>"+(t.label||t.name)+"</h2><textarea readonly='readonly' class='out' data-name='"+t.name+"'></textarea>")
				})

			$("#text-out").focus(function(){
					// Highlight all on select
					// Solution per http://stackoverflow.com/a/24589806
					$(this).on("click.a keyup.a", function(e){
							$(this).off("click.a keyup.a").select();
						});
				});



			$("#build-form").on("submit",function(evt){
					evt.preventDefault();
					$("#msg").hide();
					var errs=editor.validate();
					if(errs.length){
							$("#msg")
							.text(errs.map(e=>e.path+": "+e.message).join("\n"))
							.show()
							return;
						}
					var editorValue=editor.getValue()
					console.log("Editor", editorValue)
					var input=customTransform(editorValue)
					console.log("transformed", input)
					$(".out").each(function(i,el){
							try{
									$(this).val(templates[this.dataset.name](input).replace(/\n\s*\n/g,"\n"))
								}catch(e){
									console.error(e)
								}
						})
				})
		})

	//Just functions below

	function set(obj,path,val){
			if(path.split){path=path.split('.')}
			var head=path[0];
			if(path.length==1){
					obj[head]=val
				}else{
					obj[head]=obj[head]||{};
					set(obj[head],path.slice(1),val)
				}
			return obj;
		}
	function get(obj,path){
			if(path.split){path=path.split('.')}
			var head=path[0];
			if(path.length==1){
					return obj && obj[head];
				}else{
					return get(obj[head],path.slice(1))
				}
		}
	function unique(x,i,a){return a.indexOf(x)===i}
	function not(f){return function(...argArr){return !f(...argArr)}}
	function flatten(a,b){return a.concat(b)}
	function truthy(x){return !!x}
	function objByOf(byKeys,ofKey){
			byKeys=(byKeys instanceof Array ? byKeys : [byKeys])
			return function(accum,x,i){
					return set(accum,byKeys.map(k=>get(x,k)),ofKey?get(x,ofKey):x)
				}
		}
	function sorter(path){
			return function(a,b){
					return get(a,path)-get(b,path)
				}
		}
	function tryJSONParse(s){
			try{
					return JSON.parse(s)
				}catch(e){
					return undefined
				}
		}
	function tryRisonParse(s){
			try{
					return rison.decode(s)
				}catch(e){
					return undefined
				}
		}
	function qs(k){
			return document.location.hash.slice(1).split("&")
			.filter(function(p){return p.indexOf(encodeURIComponent(k)+"=")===0})
			.map(function(p){return decodeURIComponent(p.split("=").slice(1).join("=")).replace(/\+/g," ")})[0]
		}
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-96247573-1', 'auto');
  ga('set', 'checkProtocolTask', null); // Disable file protocol checking.
  ga('set', 'checkStorageTask', null); // Disable cookie storage checking.
  ga('set', 'historyImportTask', null); // Disable history checking (requires reading from cookies).
  ga('send', 'pageview');

</script>
</head>
<body>
	<div id="version" style="position:absolute;top:0;right:1em;color:#DDD;font-size:0.8em"></div>
	<h1>LookML Builder</h2>
	<div style="max-width:640px;margin:0 auto">
		<h2>Tips</h2>
		<ul style="font-size:0.8em; font-family:serif; color:#333;">
			<li> This is a static HTML file and can be used locally. If you are running it from a shared domain, other scripts on that domain may have access to data you enter here.</li>
			<li> For more information on why this is cool, read <a href="https://discourse.looker.com/t/outer-join-on-false-or-how-i-learned-to-stop-fanning-out-and-love-the-null/4786">my Discourse post</a>
			<li> Please <a href="https://github.com/fabio-looker/ojof-builder/issues">submit any issues</a> with the generator to the github repo</li>
		</ul>
	</div>
	<div>
		<div id="build-panel" style="width:80vw;min-width:640px;margin:0 auto">
			<form id="build-form" onsubmit="return false">
				<div id="json-editor"></div>
				<div id="msg" style="white-space:pre-line;color:#333;background-color:#DDB"></div>
				<div style="text-align:right">
					<div  style="display:inline-block;vertical-align:top;margin: 0 2em;">
						<input type="submit" style="margin-left:auto;margin-right:auto;border:solid 1px black" value="Go" class="button" />
					</div>
				</div>
			</form>
		</div>

		<div style="width:80vw;min-width:640px;margin:0 auto">
			<h2>Built Model</h2>
			<div id="out"></div>
		</div>
	</div>
</body>
<!-- Input schema-->
<script>
	var storageKey="json-outerjoinonfalse"
	var pat={
			sql:"^[^;]+(;[^;]+)*$",
			oneLineString:"^[^\"\\n]+$",
			oneLineStringOrNone:"^[^\"\\n]*$",
			multiLineStringPattern:"^[^\"]+$",
			atom:"^[a-zA-Z0-9_]+$",
			atomOrNone:"^[a-zA-Z0-9_]*$"
		}
	var inputSchema={
			type:"object",
			title:"LookML Builder Form",
			options:{"disable_edit_json":false,"disable_properties":false,"remove_empty_properties":true,"display_required_only":true},
			properties:{
					"connectionName":{
							title:"Name of your connection",
							type:"string",
							pattern:pat.oneLineStringOrNone
						},
					"dialect":{
							title:"SQL Dialect",
							type:"string",
							enum:["BigQuery Standard","Redshift"]
						},
					"explore":{
							type:"object",
							title:"Explore",
							options:{disable_edit_json:true,disable_properties:true,display_required_only:true},
							properties:{
									label:{
											title:"Label",
											type:"string",
											pattern:pat.oneLineString,
											description:"The explore's name in LookML will also be determined by the label"
										},
									other:{
											title:"Other LookML",
											type:"string",
											format:"textarea"
										}
								}
						},
					"codims":{
							title:"Conformed Dimensions",
							type:"array",
							format:"tabs",
							//options:{},
							items:{
									type:"object",
									title:"CoDim",
									headerTemplate:"{{self.label}}",
									options:{disable_collapse:true},
									properties:{
											label:{type:"string",title:"Label"},
											viewLabel:{
													type:"string",
													title:"Dispay in view",
													watch:{views:"views"},
													enumSource:[{
															source:["[Base view]"]
														},{
															source:"views",
															title:"{{item.label}}",
															value:"{{item.label}}"
														}]
												},
											type:{type:"string",title:"Type",enum:[
													"",
													"date",
													"string",
													"number"
													//,"yesno" helltool/issues/13948
												]}
										}
								}
						},
					"views":{
							title:"Views",
							type:"array",
							format:"tabs",
							items:{
									type:"object",
									title:"View",
									headerTemplate:"{{self.label}}\n{{self.table}}",
									options:{disable_collapse:true},
									properties:{
											"label":{title:"Label",type:"string", pattern:pat.oneLineString},
											"table":{title:"Table",type:"string", pattern:pat.sql},
											"pk":{
													type:"object",
													title:"Primary Key",
													properties:{
															key:{title:"Key",type:"string", pattern:pat.atom}, //v2: Comma-separated atoms
															dim:{type:"boolean",format:"checkbox",title:"Dimension"},
															count:{type:"boolean",format:"checkbox",title:"Count"}
														}
												},
											"rs":{
													type:"object",
													format:"compact",
													title:"[Redshift only]",
													properties:{
															dist:{title:"Dist key",type:"string", pattern:pat.atomOrNone,
																	description:"Required for Redshift for views with any measures because Redshift only allows full outer joins between tables that have a distkeys and a sortkey set"
																},
															distgroup:{title:"Dist group",type:"string", pattern:pat.atomOrNone,
																	description:"Optional. If multiple views are given the same Dist group value, then an equality constraint between their distribution keys will be added to the join condition for joins between them"
																},
															sort:{title:"Sort key",type:"string", pattern:pat.atomOrNone,
																	description:"Required for Redshift for views with any measures because Redshift only allows full outer joins between tables that have a distkeys and a sortkey set"
																}
														}
												},
											"fields":{
													type:"array",
													format:"tabs",
													title:"Fields",
													items:{
															type:"object",
															title:"Field",
															headerTemplate:"{{self.label}}",
															options:{disable_collapse:true},
															properties:{
																	label:{propertyOrder:1,title:"Label",type:"string", pattern:pat.oneLineString},
																	sql:{propertyOrder:2,title:"SQL",type:"string", pattern:pat.sql},
																	type:{propertyOrder:3,title:"Datatype",type:"string",enum:["","string","number","date"/*,"yesno" helltool/issues/13948 */]},
																	dim:{propertyOrder:4,type:"boolean",format:"checkbox",title:"Dimension"},
																	smy:{propertyOrder:5,type:"boolean",format:"checkbox",title:"Summary"},
																	sum:{propertyOrder:6,type:"boolean",format:"checkbox",title:"Sum"},
																	avg:{propertyOrder:7,type:"boolean",format:"checkbox",title:"Average"},
																	min:{propertyOrder:8,type:"boolean",format:"checkbox",title:"Min"},
																	max:{propertyOrder:9,type:"boolean",format:"checkbox",title:"Max"},
																	first:{propertyOrder:10,type:"boolean",format:"checkbox",title:"First"},
																	last:{propertyOrder:11,type:"boolean",format:"checkbox",title:"Last"},
																	list:{propertyOrder:12,type:"boolean",format:"checkbox",title:"List"},
																	firstLastBy:{title:"First/last by",type:"string",pattern:pat.atomOrNone,description:"If First or Last measures are selected, specifiy the column that will determine the ordering"},
																	codim:{propertyOrder:13,
																			type:"string",
																			title:"Conformed Dimension",
																			watch:{codims:"codims"},
																			enumSource:[{
																					"source": [{"value": "","title": ""}],
																					"title": "{{item.title}}",
																					"value": "{{item.value}}"
																				},{
																					source:"codims",
																					title:"{{item.label}}",
																					value:"{{item.label}}_c{{i}}"
																				}],
																			description:"Once you have declared Conformed Dimensions in the previous section, you may reference one of them here if this field should participate in a conformed dimension"
																		},
																	"otherLookml":{propertyOrder:1001,title:"Other LookML", type:"string", format:"textarea",description:"Additional LookML to include with the field(s). This LookML will be repeated for each mode (i.e., Dimension, Sum, etc.). If different LookML is required per mode, create separate fields for those modes."}
																}
														}
												}
										}
								}
						},
					"normalizedRelationships":{
							title:"Normalized relationships",
							type:"array",
							format:"table",
							options:{disable_array_delete_last_row:true,disable_array_delete_all_rows:true,disable_array_reorder:true},
							items:{
									type:"object",
									properties:{
											leftViewName:{
													type:"string",
													title:"\"Many\" Table",
													options:{input_width:"12em"},
													watch:{views:"views"},
													enumSource:[{
															source:"views",
															title:"{{item.label}} ({{item.table}})",
															value:"{{item.label}}_v{{i}}"
														}]
												},
										 	foreignKey:{
													type:"string",
													title:"ManyTable.FK",
													options:{input_width:"28em"},
													pattern:pat.atom
												},
											rightViewName:{
													type:"string",
													title:"\"One\" Table",
													options:{input_width:"12em"},
													watch:{views:"views"},
													enumSource:[{
															source:"views",
															title:"{{item.label}} ({{item.table}})",
															value:"{{item.label}}_v{{i}}"
														}]
												}
										}
								}
						}
						,
					"timeframes":{
							title:"Timeframes",
							type:"array",
							uniqueItems:true,
							items:{
									type:"string",
									enum:[
											"year",
											"month",
											"week",
											"date",
											"hour",
											"hour_of_day",
											"day_of_week",
											"month_of_year"
										]
								}
						}
				}
		}

	var initialValue = {
			"explore": {
					"label": "All the things",
					"other": "always_filter:{ filters:{\n  field: combined_date_0_date\n  value: \"7 days,NULL\"\n}}"
				},
			"codims": [
					{
							"label": "Combined Date",
							"viewLabel": "[Base view]",
							"type": "date"
						}
				]
		};

	function customTransform (x){
			var singleColRegex=/^[_a-zA-Z][_a-zA-Z0-9$]*$|^"[^"]+"$/
			return Object.assign({},x,{
					generator:version,
					original:x,
					explore:Object.assign({},x.explore,{
							name:lookmlName(x.explore.label)
						}),
					views:x.views.map((v,vi)=>Object.assign({},v,{
							n:vi,
							name:lookmlName(v.label)+"_v"+vi,
							dName:lookmlName(v.label)+"_v"+vi+"_dim"
						})).map((v,vi)=>Object.assign({},v,{
							fields:v.fields.map((f,fi)=>Object.assign({},f,{
									n:fi,
									viewName:v.name,
									name:lookmlName(f.label)+"_"+fi,
									dim:f.dim /*~f.modes.indexOf("dim")*/ && f.type!="date",
									ddg:f.dim /*~f.modes.indexOf("dim")*/ && f.type=="date",
									/*smy:~f.modes.indexOf("smy"),
									sum:~f.modes.indexOf("sum"),
									avg:~f.modes.indexOf("avg"),
									min:~f.modes.indexOf("min"),
									max:~f.modes.indexOf("max"),
									first:~f.modes.indexOf("first"),
									last:~f.modes.indexOf("last") && !!f.firstLastBy,
									list:~f.modes.indexOf("list") && !!f.firstLastBy,*/
									codim:f.codim?lookmlName(f.codim):undefined,
									sql:(f.sql||'').match(singleColRegex)
										?"${TABLE}."+f.sql
										:f.sql
								})).map((f,fi)=>Object.assign({},f,{
									bSql:f.sql.replace(/\$\{TABLE\}/g, v.name),
									mSql:f.sql.replace(/\$\{TABLE\}/g, "${msr}"),
									dSql:f.sql.replace(/\$\{TABLE\}/g, "${dim}"),
									mSqlExternal:f.sql.replace(/\$\{TABLE\}/g, "${"+v.name+".msr}"),
									dSqlExternal:f.sql.replace(/\$\{TABLE\}/g, "${"+v.name+".dim}")
								}))
						})),
					normalizedRelationships:x.normalizedRelationships.map((r,ri)=>Object.assign({},r,{
							leftViewName:lookmlName(r.leftViewName),
							rightViewName:lookmlName(r.rightViewName),
						})),
					codims:x.codims.map((c,ci)=>Object.assign({},c,{
							n:ci,
							name:lookmlName(c.label)+"_c"+ci,
							dName:lookmlName(c.label)+"_c"+ci
						}))
				});
		}
		function lookmlName(s){
				if(!s || !s.trim || !s.trim()){throw "Non-empty string required for LookML name";}
				return s.replace(/[\s]+/g,"_").replace(/[^a-zA-Z0-9_]+/g,"").toLowerCase()
			};

</script>
<script type="text/x-dot-template" data-name="main">
	<<!
	function viewFromName(name){return x.views.concat(x.codims).find(v=>v.name==name)};
	function righterViews(baseView) {
			return viewsInDirection(baseView,"right",10)
		};
	function lefterViews(baseView){
			return viewsInDirection(baseView,"left",10)
		};
	function rightViews(baseView) {
			return viewsInDirection(baseView,"right",1)
		};
	function leftViews(baseView){
			return viewsInDirection(baseView,"left",1)
		};
	function viewsInDirection(baseView,direction,depth){
			baseView = typeof baseView == "string" ? viewFromName(baseView) : baseView;
			return (
					recurViewsInDirection(baseView,direction,depth)
					.map(v=>v.name)
					.filter(unique)
					.map(viewFromName)
				);
	};
	function recurViewsInDirection(baseView,dir,remainingRecursion){
			var oppDir=(dir=="left"?"right":"left");
			var immediateViews = 
					[]
					.concat(
							x.normalizedRelationships
							.filter(rel=>rel[oppDir+"ViewName"]==baseView.name)
							.map(rel=>viewFromName(rel[dir+"ViewName"]))
						)
					.concat(dir=="right" ?
							(baseView.fields||[])
							.filter(f=>f.codim)
							.map(f=>viewFromName(f.codim))
							:[]
						);
			return ((immediateViews.length && remainingRecursion>0)
					?(immediateViews
					  .map(v=>recurViewsInDirection(v,dir,remainingRecursion-1))
					  .reduce(flatten,immediateViews)
					)
					: []
				);
		};
	function sqlString(s){
			switch (x.dialect){
					case 'Redshift': /* ??? Thanks Amazon.... http://docs.aws.amazon.com/redshift/latest/dg/r_Literals.html */
					case 'BigQuery Standard': /* https://cloud.google.com/bigquery/docs/reference/standard-sql/lexical#string-and-bytes-literals */
							return "'"+(s||'').replace(/\\/g,"\\\\").replace(/'/g,"\\'")+"'"
				}
		};
	function measureNames(view){
			return (["smy","sum","avg","min","max","first","last","list"]
					.map(measureType=>view.fields.map(field=>field[measureType] && measureType+"_"+field.name))
					.reduce(flatten,["count_pk"])
					.filter(truthy)
				)
		}
	function dimensionNames(viewOrField){
			return (
					[{flag:"dim", prefix:"dim_", suffix:""}]
					.concat(x.timeframes.map(t=>({flag:"ddg", prefix:"ddg_", suffix:"_"+t})))
					.map(dimensionType=>
							(viewOrField.fields || [viewOrField])
							.map(field=>
									field[dimensionType.flag] && dimensionType.prefix+field.name+dimensionType.suffix
								)
						)
					.reduce(flatten,viewOrField.pk?["dim_pk"]:[])
					.filter(truthy)
				)
		};
	function codimNames(codim){
			return (codim.type!="date"
					? [codim.name]
					: x.timeframes.map(t=>codim.name+"_"+t)
				);
		};
	function if_if_ViewShouldBeJoinedLiquid(view){
			var out="";
			>>	
			{%	if <<:view.name>>._in_query
				or <<:view.dName>>._in_query
				<<* lefterViews(view) :left:l>>
				or <<:left.name>>._in_query
				or <<:left.dName>>._in_query
				<<*>>
			%}
			{%	if <<:view.name>>._in_query
				or <<:view.dName>>._in_query
				<<* righterViews(view) :right:r>>
				or <<:right.name>>._in_query
				or <<:right.dName>>._in_query
				<<*>>
			%}
			<<! return out;
		};
	function dimOrNotLiquid(view){
			var out="";
			>>{% if '0' == '1'
				<<* lefterViews(view) :left:l>>
				or <<:left.name>>._in_query
				or <<:left.dName>>._in_query
				<<*>>
			%}_dim{% endif
			%}<<! return out;
		};
	>>
	# Warning:  This file is programatically generated (Your changes will be overwritten)
	# OJOF Generator by Fabio
	# Generator v<<:x.generator.v>> (<<:x.generator.date>>)
	# Generated on <<:(new Date()).toISOString().slice(0,10)>>
	# https://fabio-looker.github.io/ojof-builder/#o=<<:rison.encode_uri(x.original)>>

	<<?x.connectionName.trim()>>connection: "<<:x.connectionName>>"<<?>>
	explore: <<:x.explore.name>> {
		label:"<<:x.explore.label>>"
		
		<<:x.explore.other>>

		## Measure table joins
		<<* x.views :view:v >>
		join: <<:view.name>> {
			fields:[measures*]
			relationship: one_to_one
			sql:				
				<<:if_if_ViewShouldBeJoinedLiquid(view)>>
				FULL OUTER JOIN <<:view.name>>
				ON <<? x.dialect=="BigQuery Standard" >> FALSE
				<<?? x.dialect=="Redshift" >>/* FALSE -- Redshift only allows FOJ on merge joins, which require dist & sort key equality*/
					<<:view.name>>.<<:view.rs.dist>> = ${<<:x.explore.name>>.base}
					AND <<:view.name>>.<<:view.rs.sort>> = ${<<:x.explore.name>>.base}
					<<* x.views.filter(prior=>prior.n<view.n) :prior:p >>
					<<: if_if_ViewShouldBeJoinedLiquid(prior)>>
					AND <<:view.name>>.<<:view.rs.dist>> = <<:prior.name>>.<<:prior.rs.dist>>
					AND <<:view.name>>.<<:view.rs.sort>> = <<:prior.name>>.<<:prior.rs.sort>>
					{% endif %}{% endif %}
					<<*>>
		 		<<?>>
				{% endif %}{% endif %}
			;;
		}
		<<*>>

		#Selected "Dimension table" joins
		<<* x.views :view:v >>
		join: <<:view.dName>> {
			from: <<:view.name>>
			fields:[dimensions*, codim_selectors*]
			relationship:many_to_one
			required_joins:[
				<<:view.name>>
				<<* lefterViews(view) :left>>, <<:left.dName>><<*>>
			]
			sql:
				<<:if_if_ViewShouldBeJoinedLiquid(view)>>
					{% if '0' == '1'
						<<* lefterViews(view) :left>>
						or <<:left.name>>._in_query
						or <<:left.dName>>._in_query
						<<*>>
					%}--Lefter joins in query, dimension table required
					LEFT JOIN <<:view.name>>
						AS <<:view.dName>> 
						ON <<:view.dName>>.<<:view.pk.key>> =
						COALESCE(<<:view.name>>.<<:view.pk.key>>,
						<<* x.normalizedRelationships.filter(r=>r.rightViewName==view.name) :rel>>
							<<!let left=viewFromName(rel.leftViewName);>>
							<<: if_if_ViewShouldBeJoinedLiquid(left) >>
								<<:left.name>><<:dimOrNotLiquid(left)>>.<<:rel.foreignKey>>,
							{% endif %}{% endif %}
						<<*>>
						NULL)
						
					<<? x.dialect=="Redshift" && view.rs.distgroup >>
					--Distkey equality (unless incompatible parents are in query)
					<<* leftViews(view).filter(l=>l.rs.distgroup!=view.rs.distgroup) :badLeftView>>
					<<: if_if_ViewShouldBeJoinedLiquid(badLeftView) >>
						/*<<:badLeftView.name>> is in query and has distgroup <<:badLeftView.rs.distgroup>>. Prevent distkey equality
						{% endif %}{% if '1'=='0' %}*/
					{% endif %}{% endif %}
					<<*>>
					AND <<:view.dName>>.<<:view.rs.dist>> =
						COALESCE(<<:view.name>>.<<:view.rs.dist>>,
						<<* leftViews(view) :left>>
							<<: if_if_ViewShouldBeJoinedLiquid(left) >>
								<<:left.name>><<:dimOrNotLiquid(left)>>.<<:left.rs.dist>>,
							{% endif %}{% endif %}
						<<*>>
						NULL)
					<<?>>
					-- End conditional distkey */
					{% else %}
					-- No lefter view in query. Take all dimensions from measure table
					{% endif %}
				{% else %}	/* No self|righter view in query. Prevent <<:view.dName>> */ {% endif %}
				{% else %}	/* No self|lefter view in query. Prevent <<:view.dName>> */ {% endif %}
			;;
		}
		<<*>>
		
		##Codim joins
		<<* x.codims :codim>>
		join: <<:codim.name>> {
			sql: ;;
			required_joins:[
				<<*x.views.filter(v=>v.fields.some(f=>f.codim==codim.name)) :view:v>>
				<<?v>0>>,<<?>> <<:view.dName>> <<*>>
			]
			relationship: one_to_one
		}
		<<*>>
	}

	#"Base" (empty) View
	view: <<:x.explore.name>> {
		view_label: "[<<:x.explore.label>>]"
		<<? x.dialect=="BigQuery Standard">> #BQ
		sql_table_name: (SELECT base FROM (SELECT null as base) as basetable WHERE base IS NOT NULL);;
		<<?? x.dialect=="Redshift">> #Redshift
		derived_table: {
			sql: (SELECT base FROM (SELECT null as base) as basetable WHERE base IS NOT NULL) ;;
			persist_for: "120 hours"
			distribution: "base"
			sortkeys: ["base"]
		}
		<<?>>
		dimension: base {
			hidden: yes
			sql: ${TABLE}.base ;;
		}
	}
	
	#Codim "views"
	<<* x.codims :codim:c>>
	view: <<:codim.name>> {
		<<? codim.type=="date">>dimension_group<<??>>dimension<<?>>: <<:codim.name>> {
				view_label: <<? codim.viewLabel=="[Base view]">>"[<<:x.explore.label>>]"<<??>>"<<:codim.viewLabel>>"<<?>>
				<<? codim.type=="date">>
				type: time
				timeframes: [<<:x.timeframes.join(",")>>]
				group_label: "<<:codim.label>>"
				label: " "
				<<??>>
				<<?codim.type>>type: <<:codim.type>><<?>>
				label: "<<:codim.label>>"
				<<?>>
				sql: COALESCE(
					<<* x.views :view:v>>
					<<* view.fields :field:f>>
						<<? field.codim == codim.name >>
							<<:if_if_ViewShouldBeJoinedLiquid(view)>>
								<<? view.fields.filter(field2=>field2.codim==field.codim).length>1 >>
									CASE WHEN	{% condition <<:view.dName>>.cs_<<:codim.name>> %}
												<<:sqlString(field.label)>>
												{% endcondition %}
										 THEN	<<:field.dSqlExternal>>
										 ELSE NULL
									END,
								<<??>>
									<<:field.dSqlExternal>>,
								<<?>>
							{% endif %}
							{% endif %}
						<<?>>
					<<*>>
					<<*>>
					NULL
				)
				;;
		}
	}
	<<*>>

	# Maybe add this pattern to the generator too?
	#
	#measure: product_conversion_rate {
	#	type: number
	#	value_format_name: decimal_3
	#	sql: CASE WHEN ${pageviews.count}<>0 THEN ${orders.count} / ${pageviews.count} ELSE NULL END;;
	#}
	#

	#####################################
	#
	#    "REAL" VIEWS
	#
	#####################################
	<<* x.views :view >>
	view: <<:view.name>> {
		label: "<<:view.label>>"
		# Use DT (instead of subselect in sql_table_name) to ensure you can reference ${foo.SQL_TABLE_NAME} if the user tries to use that
		derived_table: {
			sql:
			<<:if_if_ViewShouldBeJoinedLiquid(view)>>
				SELECT * <<!/*TODO: See if query optimizer optimizes this? If not, specify columns, which is hard, because at the moment, I just have fields, which may recursively expand to arbitrary column references */>>
				FROM <<:view.table>> AS <<:view.name>>
				WHERE 1=1
				<<* view.fields :field:f>>
					<<!/* Push dimension filters onto the associated measure tables */>>
					<<* dimensionNames(field) :dim:d>>
							{% if <<:view.dName>>.<<:dim>>._is_filtered %}
								AND {% condition <<:view.dName>>.<<:dim>> %} <<:field.bSql>> {% endcondition %}
							{% endif %}
					<<*>>
					<<!/* Push codim filters onto the associated dimension and measure tables */>>
					<<* x.codims :codim:c>>
						<<? field.codim == codim.name >>
						<<* codimNames(codim) :typedName:t>>
							{% if <<:codim.name>>.<<:typedName>>._is_filtered %}
								<<? view.fields.filter(field2=>field2.codim==field.codim).length>1 >>
								AND CASE
									WHEN {% condition <<:view.dName>>.cs_<<:codim.name>> %}
										 <<:sqlString(field.label)>>
										 {% endcondition%}
									THEN {% condition <<:codim.name>>.<<:typedName>> %}
										 <<:field.bSql>>
										 {% endcondition %}
									ELSE 1=1 END
								<<??>>
								AND {% condition <<:codim.name>>.<<:typedName>> %}
									<<:field.bSql>>
									{% endcondition %}
								<<?>>
							{% endif %}
						<<*>>
						<<?>>
					<<*>>
				<<*>>
			{% else %} --No righter views in query. Skip view
			SELECT NULL as x {% endif %}
			{% else %} --No lefter views in query. Skip view
			SELECT NULL as x {% endif %}
			;;
		}
		
		#
		#  Table aliases
		#
		
		dimension: msr {
			hidden: yes
			sql: ${TABLE} ;;
		}
		dimension: dim {
			hidden: yes
			sql: ${TABLE}<<:dimOrNotLiquid(view)>> ;;
		}
		
		#
		#  Keys
		#
		
		<<?x.dialect=="Redshift">>
		dimension: dist{
			hidden: yes
			sql:${TABLE}.<<:view.rs.dist>>;;
		}
		dimension: sort{
			hidden: yes
			sql:${TABLE}.<<:view.rs.sort>>;;
		}
		<<?>>
		dimension: pk {
			hidden: yes
			sql: ${TABLE}.<<:view.pk.key>>;;
		}
		
		#
		# Measures
		#
		set: measures {
			fields: [<<:measureNames(view).join(", ")>>]
		}
		measure: count_pk {
			hidden: <<:view.pk.count ? "no" : "yes">>
			label: "<<:view.label>> Count"
			type: number
			sql: CASE WHEN MIN(${msr}.<<:view.pk.key>>) IS NULL THEN NULL ELSE COUNT(${msr}.<<:view.pk.key>>) END ;;
		}
		<<*view.fields :field>>
		<<?field.smy>>
		measure: smy_<<:field.name>> {
			type: string
			label: "<<:field.label>>"
			<<? x.dialect=="Redshift">>
			sql:CASE
			 	WHEN MIN(<<:field.mSql>>) = MAX(<<:field.mSql>>)
				THEN MIN(<<:field.mSql>>)
				ELSE 
					CASE COUNT(<<:field.mSql>>)
					WHEN 0 THEN NULL
					WHEN 1 THEN MIN(<<:field.mSql>>)::VARCHAR
					WHEN 2 THEN MIN(<<:field.mSql>>)::VARCHAR || ',' 
								|| MAX(<<:field.mSql>>)::VARCHAR
					ELSE 		MIN(<<:field.mSql>>)::VARCHAR || ' ...(+'
								|| TO_CHAR(COUNT(<<:field.mSql>>)-2,'999,999,999,999')|| ')... ' 
								|| MAX(<<:field.mSql>>)::VARCHAR
					END
				END
			;;
			<<?>>
			<<? x.dialect=="BigQuery Standard">>
			sql:CASE
			 	WHEN MIN(<<:field.mSql>>) = MAX(<<:field.mSql>>)
				THEN MIN(<<:field.mSql>>)
				ELSE 
					CASE COUNT(<<:field.mSql>>)
					WHEN 0 THEN NULL
					WHEN 1 THEN CAST(MIN(<<:field.mSql>>) as STRING)
					WHEN 2 THEN CONCAT(
								  CAST(MIN(<<:field.mSql>>) as STRING), ',' 
								, CAST(MAX(<<:field.mSql>>) as STRING)
								)
					ELSE 		CONCAT(
								  CAST(MIN(<<:field.mSql>>) as STRING), ' ...(+'
								, CAST(COUNT(<<:field.mSql>>) as STRING), ')... ' 
								, CAST(MAX(<<:field.mSql>>) as STRING)
					END
				END
			;;
			<<?>>
			<<:field.otherLookml>>
		}
		<<?>>
		
		<<?field.sum>>
		measure: sum_<<:field.name>> {
			type: number
			label: "<<:field.label>>: Sum"
			sql: SUM(<<:field.mSql>>) ;;
			<<:field.otherLookml>>
		}
		<<?>>

		<<?field.avg>>
		measure: avg_<<:field.name>> {
			type: number
			label: "<<:field.label>>: Avg"
			sql: AVG(<<:field.mSql>>) ;;
			<<:field.otherLookml>>
		}
		<<?>>

		<<?field.min>>
		measure: min_<<:field.name>> {
			type: <<:field.type>>
			<<?field.type=="date">>
			label: "Earliest <<:field.label>>"
			<<??>>
			label: "<<:field.label>>: Min"
			<<?>>
			sql: MIN(<<:field.mSql>>) ;;
			<<:field.otherLookml>>
		}
		<<?>>

		<<?field.max>>
		measure: max_<<:field.name>> {
			type: <<:field.type>>
			<<?field.type=="date">>
			label: "Latest <<:field.label>>"
			<<??>>
			label: "<<:field.label>>: Max"
			<<?>>
			sql: MAX(<<:field.mSql>>) ;;
			<<:field.otherLookml>>
		}
		<<?>>
		<<?field.first>>
		measure: first_<<:field.name>> {
			type: string
			label: "<<:field.label>>: First"
			<<? x.dialect=="Redshift">>
			sql:
				SUBSTRING( MIN(
					<<?field.type=="number">>LPAD<<??>>RPAD<<?>>(${msr}.<<:field.firstLastBy>>::VARCHAR,20)
					|| '~' || 
					<<:field.mSql>>::VARCHAR
				) FROM 22)
			;;
			<<?>>
			<<? x.dialect=="BigQuery Standard">>
			sql:
				SUBSTR( MIN( CONCAT(
					<<?field.type=="number">>LPAD<<??>>RPAD<<?>>(CAST(${msr}.<<:field.firstLastBy>> as STRING),20)
					, '~' , 
					CAST(<<:field.mSql>> as STRING)
				)), 22)
			;;
			<<?>>
			<<:field.otherLookml>>
		}
		<<?>>
		<<?field.last>>
		measure: last_<<:field.name>> {
			type: string
			label: "<<:field.label>>: Last"
			<<? x.dialect=="Redshift">>
			sql:
				SUBSTRING( MAX(
					<<?field.type=="number">>LPAD<<??>>RPAD<<?>>(${msr}.<<:field.firstLastBy>>::VARCHAR,20)
					|| '~' || 
					<<:field.mSql>>::VARCHAR
				) FROM 22)
			;;
			<<?>>
			<<? x.dialect=="BigQuery Standard">>
			sql:
				SUBSTR( MAX( CONCAT(
					<<?field.type=="number">>LPAD<<??>>RPAD<<?>>(CAST(${msr}.<<:field.firstLastBy>> as STRING),20)
					, '~' , 
					CAST(<<:field.mSql>> as STRING)
				)), 22)
			;;
			<<?>>
			<<:field.otherLookml>>
		}
		<<?>>
		<<?field.list>>
		measure: list_<<:field.name>> {
			type: string
			label: "<<:field.label>>: List"
			<<? x.dialect=="Redshift">>sql: LISTAGG(<<:field.mSql>>,', ') ;;<<?>>
			<<? x.dialect=="BigQuery Standard">>sql: GROUP_CONCAT(<<:field.mSql>>) ;;<<?>>
			<<:field.otherLookml>>
		}
		<<?>>
		<<*>>

		#
		#  Dimensions
		#
		
		set: dimensions {
			fields: [<<:dimensionNames(view).join(", ")>>]
		}
		dimension: dim_pk {
			hidden: <<:view.pk.dim ? "no" : "yes">>
			label: "<<:view.label>> ID"
			sql: ${dim}.<<:view.pk.key>>  ;;
		}
		<<* view.fields :field>>
		<<?field.dim>>
		dimension: dim_<<:field.name>> {
			<<?field.type>>type: <<:field.type>><<?>>
			label: "<<:field.label>>"
			sql: <<:field.dSql>> ;;
			<<:field.otherLookml>>
		}
		<<?>>
		<<?field.ddg>>
		dimension_group: ddg_<<:field.name>> {
			group_label: "<<:field.label>>"
			label: " "
			type: time
			timeframes: [<<:x.timeframes.join(",")>>]
			sql: <<:field.dSql>> ;;
			<<:field.otherLookml>>
		}
		<<?>>
		<<*>>

		#
		#  Codim selectors
		#
		set: codim_selectors {
			fields: [dim
			<<* x.codims :codim>>
				<<? view.fields.filter(f=>f.codim==codim.name).length>1 >>,cs_<<:codim.name>><<?>>
			<<*>>
			]
		}
		<<* x.codims :codim:c>>
			<<? view.fields.filter(f=>f.codim==codim.name).length>1 >>
			filter: cs_<<:codim.name>> {
				label: "<<?codim.type=='date'>>Date<<??>>Field<<?>> for <<:codim.label>>"
				type: string
				suggestions: ["<<:view.fields.filter(f=>f.codim==codim.name).map(f=>f.label).join('","')>>"]
			}
			<<?>>
		<<*>>
	}
	<<*>>
</script>
</html>
